@import "../../sass/variables.scss";

.navbar {
    position: absolute;
    width: 100%;
    font-family: $tertiary-font;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    .link{
        text-decoration: none;
        padding: 0.75rem;
        color: $text-color;
        font-size: 1.5rem;
        font-weight: 500;
        border-radius: 5px;
        transition: all 0.2s ease-in;
        &:hover{
            opacity: 0.8;
            background-color:rgba(255, 255, 255, 0.1);
            transform: scale(1.05);
            color: $tertiary-color;
        }
    }
}
.navbar-hamburger{
    position: absolute;
    width: 100%;
    font-family: $tertiary-font;

    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
    padding:3rem 1rem;
    transition: all 0.2s ease;
    .link{
        text-decoration: none;
        padding: 0.2rem;
        color: $text-color;
        background-color: $secondary-color;
        font-size: 1rem;
        font-weight: 300;
        border-radius: 3px;
        transition: all 0.2s ease-in;
        &:hover{
            opacity: 0.8;
            background-color:rgba(255, 255, 255, 0.1);
            transform: scale(1.05);
            color: $tertiary-color;
        }
    }
}
@media screen and (max-width:610px) {
    .navbar{
        display: none;
    }
}

@media screen and (min-width:601px) {
    .navbar-hamburger{
        display: none;
    }
}    
