.home-bgImg-container{
    @include bgImg(100vh, $main-bgImg-path);
}
.home{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
    &__name{
        font-size: 4.5rem;
        padding-bottom: 1.7rem;
        // margin-bottom: 1rem;
        border-bottom: 2px solid #fff;

        &--last{
            color: red;
            font-weight: 550;
        }
    }
}