//*****************************************************
//*   HOME PAGE
//*****************************************************

.home-bgImg-container{
    @include bgImg(100vh, $main-bgImg-path);
}
.home{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
    &__title{
        padding-top: 0.8rem;
    }
    &__name{
        font-size: 4rem;
        padding:1rem 0 2rem 0;
        // margin-bottom: 1rem;
        border-bottom: 2px solid #fff;

        &--last{
            color: red;
            font-weight: 550;
        }
    }
}