.project-bgImg-container{
    @include bgImg(40vh, $main-bgImg-path);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .projects__bio-image{
        text-align: center;
        margin-bottom: 0.5rem;
    }
}

.projects{
    &__items{
        width: 100%;
    }
    &__item{
        width: 100%;
        img{
            width: 100%;
        }
    }
}