$primary-font: 'Indie Flower', cursive;
$secondary-font:'Fredericka the Great', cursive;
$tertiary-font:'Shantell Sans', cursive;
$primary-color:rgb(32, 149, 154);
$secondary-color:darkcyan;
$tertiary-color:orangered;
$text-color:whitesmoke;
