@import "theme.css";

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: var(--white);
    font-family: var(--ff-roboto);
}
.container{
    max-width: 1450px;
    margin: auto;
    padding: 0 1rem;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
header img{
    width: 200px;
}
button{
    padding: 1rem;
    border: 2px solid var(--red-dark);
    border-radius: 4px;
    margin: 1rem;
    box-shadow: var(--shadow-light);
    font-family: var(--ff-yeon);
    font-size: var(--fs-md);
    white-space: nowrap;
}
button:hover{
    cursor: pointer;
    opacity: 0.9;
    transform: scale(0.98);
}
.btn-light{
    background-color: var(--white);
    color: var(--red-dark);
}
.btn-dark{
    color: white;
    background-color: var(--red-dark);
}
nav.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
}
nav.hero img{
    width: 100%;
    min-width: 300px;
}
nav.hero section{
    flex:1;
}
nav.hero h1{
    font-size: var(--fs-xl);
    line-height: var(--line-h-xl);
    text-align: justify;
}
nav.hero p{
    font-size: var(--fs-lg);
    line-height: var(--line-h-xl);
    text-align: justify;
}
main .card{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 20px;
    border-radius: 20px;
    box-shadow: var(--shadow-light);
    padding: 1rem;
    gap: 1rem;
    margin: 2rem 0;

}
main .card article{
    flex: 1;
    line-height: var(--line-h-xl);
}
main .card img{
    width: 100%;
}
main .card:nth-child(odd){
    flex-direction: row;
}
main .card:nth-child(even){
    flex-direction: row-reverse;
}

@media screen and (min-width:1200px) and (max-width:1400px){
    body{
        background-color: var(--grey-10)
    };
}

@media screen and (max-width:700px) {
    header{
        flex-direction: column;
        text-align: center;
    }
    header button{
        margin: 0.5rem;
    }
    header img{
        width: 300px;
    }
    nav.hero{
        flex-direction: column;
    }
    nav.hero section{
        text-align: center;
    }
    main .card:nth-child(odd){
        flex-direction: column;
    }
    main .card:nth-child(even){
        flex-direction: column;
    }
    body{
        background-color: var(--blue-light-5);
    } 

}
