*{
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 250px 1fr 4fr 1fr;
    height: 100vh;
}
header{
    grid-column: 1/span 12;
}
header img{
    width: 100%;
    height: 100%;
    object-fit: center;
}
nav{
    grid-column: span 12;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}
aside{
    grid-column: span 3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: chocolate;
}
main{
    grid-column: span 9;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
}
footer{
    grid-column: span 12;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}