* {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
  }
  h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-variant: small-caps;
    color: orange;
    background-color: rgba(10, 57, 45);
  }
  
  #brand {
    width: 50px;
  }
  nav {
    background-color: lightgrey;
  }
  ul {
    list-style-type: none;
  }
  li {
    display: inline-block;
    padding-left: 40px;
    vertical-align: middle;
  
    /* float:right; */
  }
  a {
    text-decoration: none;
  }
  .avatar {
    width: 50px;
  }

  
 
  label {
    color: white;
    display: block;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  textarea {
    width: 100%;
    resize: none;
  }
  input {
    width: 100%;
  }
  button {
    background-color: orange;
    border-radius: 1rem;
    display: block;
    margin-top: 1rem;
    padding: 0.5rem;
  }
  
  .comment-cards {
    position: relative;
    background-color: black;
  }
  .image1 {
    width: 20%;
  }
  
  .image2 {
    width: 20%;
    position: absolute;
    left: 3rem;
    top: 3rem;
  }
  .image3 {
    position: absolute;
    z-index: 10;
  }
  