*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: black;
}
main{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 5rem;
    gap: 1rem;
}
.container1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 3rem;
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
}
