@import "../../sass/variables.scss";

.footer{
    width: 100%;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .icons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        .github-icon{
            text-decoration: none;
            color: $text-color;
            &:hover{
                opacity: 0.8;
                color:$tertiary-color;
            }
        }
        .linkedin-icon{
            text-decoration: none;
            color: $text-color;
            &:hover{
                opacity: 0.8;
                color:royalblue;
            }
        }
        .mail-icon{
            text-decoration: none;
            color: $text-color;
            &:hover{
                opacity: 0.8;
                color:$secondary-color;
            }
        }
    }
    .copyright{
        color: $text-color;
        font-family: $secondary-font;
    }
}

@media screen and (width < 1000px) {
    .icons{
        flex-direction: column;
    }
    .copyright{
        flex-direction: column;
        writing-mode: vertical-lr;
    }
}