*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
    text-align: center;
}
.container{
    background-color:#DC6C5E;
    position: relative;
    width: 80%;
    height: 70vh;
    margin:15vh auto;
    vertical-align: middle;
    border: 5px solid black;
    border-radius: 10px;   
}
span{
    color: yellow;
}
h3{
    font-size: 2rem;
    margin: 2%;
    margin-top: 10%;
}
p{
    color: rgb(65, 62, 62);
    margin: 5% 10%;
    font-size: 3rem;
    font-weight: 900;
    vertical-align: middle;
}
img{
    width: 15%;
    position: absolute;
    top: -17%;
    left: 42%;
    border-radius: 50%;
    border: 5px solid black;
}