*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}
.div1{
    height: 100vh;
    position: relative;
}
.background1{
    width: 100%;
}
.title{
    color: white;
    background-color: black;
    width: 87%;
    font-size:5vh;
    padding: 2rem 1rem;
    position: absolute;
    top: 12%;
    left: 3%;
    text-align: center;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}
.title-frame{
    border: 0.5rem solid rgb(155, 100, 155);
    width: 30%;
    height: 19%;
    position: absolute;
    top: 40%;
    left: 35%;
    text-align: center;
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    border-style: inset;
}
.div2{
    height: 100vh;
    position: relative;
}
.background2{
    width: 100%;
    height: 100vh;

}
.fs-description{
    background-color: rgb(50, 50, 50);
    height: 45vh;
    text-align: center;
    position: absolute;
    top: 0vh;
    
}
.fs-title{
    color: white;
    padding: 1vh;
    padding-top: 4vh;
    font-size:3.5vh;
}
.fs-par{
    color: white;
    padding: 4vh 6vh;
    font-size: 2.5vh;
    line-height: 4vh;
}
.clarusway-logo{
    width: 30%;
    position: absolute;
    bottom: 8vh;
    left: 35%;
}
.div3{
    height: 100vh;
    position: relative;
}
.aws-description{
    background-color: rgb(50, 50, 50);
    height: 45vh;
    text-align: center;
    position: absolute;
    top: 0vh;
    
}
.aws-title{
    color: white;
    padding: 1vh;
    padding-top: 4vh;
    font-size:3.5vh;
}
.aws-par{
    color: white;
    padding: 4vh 6vh;
    font-size: 2.5vh;
    line-height: 4vh;
}
.div3-slogan{
    /* width: 60%; */
    position: absolute;
    bottom: 15vh;
    left: 20%;
}
.div3-text{
    text-align: center;
    color: white;
    background-color: black;
    font-size: 8vh;
    
}