.text {
  text-align: center;
  font-size: 2rem;
  margin: 2rem auto;
  width: 50vw;
}

/* ***************** TRANSFORM ROTATE ******************* */

/* 90 ve 270 derecede yazı ekrana dik kaldığı için görünmez. */
.text1 {
    background-color: chocolate;
    transform: rotateX(180deg);
}
.text1:hover{
    transform: rotateX(0deg);
} 
.text2{
    background-color: aquamarine;
    transform: rotateY(180deg);
}
.text3{
    background-color: greenyellow;
    transform: rotate(5deg);
    transform-origin: left;
    margin-bottom: 100px;
}

/* ***************** TRANSFORM SCALE ******************* */

.text4{
    background-color: indianred;
    transform: scaleX(1.5);
    transform-origin: right;
}
.text5{
    background-color: cornflowerblue;
    transform: scaleY(2);
}
.text6{
    background-color: darkcyan;

}
.text6:hover{
    transform: scale(1.5, 2);

}

/* ***************** TRANSFORM TRANSLATE ******************* */

.box{
    background-color: brown;
    width: 100px;
    font-weight: 800;
    height: 50px;

    /* transition-property: width;
    transition-delay: 2s;
    transition-duration: 2s;
    transition-timing-function: ease; */

    /* transition: background-color 3s, width 4s, height 3s; */   
    transition: all 3s ease-in-out 1s;
}
.box1{
    /* transform: translateX(50px); */
}
.box1:hover{
    /* transform: translateX(100px); */
    background-color: cadetblue;
    width: 200px;
    height: 100px;
}
.box2{
    transform: translateY(150px);
}
.box3{
    transform: translate(100px, 50px);
}

img{
    transform: rotateY(0deg);
}

.btn-div{
    text-align: center;
}

.btn{
    background-color:aqua;
    border: 2px solid gray;
    padding: 20px;
    font-size: 1.3rem;
    border-radius: 5px;
    transition: background-color 3s ease-in-out;
}
.btn:hover{
    background-color: chocolate;
    border-radius: 25px;
    width: 200px;
    color:bisque;
}