@import "../../scss/variables";

.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;

    .cards{
        position: relative;

        .title{
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.8);
            color: $cardNavBgColor;
            padding: 1rem;
            border-radius: 0 20px 20px 20px;
        }

        .date{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: rgba(0, 0, 0, 0.8);
            color: $cardNavBgColor;
            padding: 1rem;
            font-size: 0.4rem;
            border-radius: 10px;
        }
    }
}

img{
    width: 500px;
}

.card-over{
    width: 500px;
}