* {
  margin: 0;
  box-sizing: border-box;
}
body {
  /* background-image: url(https://cdn.pixabay.com/photo/2017/01/27/17/45/chess-2013758_1280.jpg); */
  text-align: center;
  background: #403a3e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #be5869,
    #403a3e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #a3263b,
    #332e32
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
nav a {
  display: inline-block;
  padding: 0px;
  box-sizing: content-box;
}
nav ul li {
  list-style-type: none;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
nav ul {
  padding: 0px;
  display: inline-block;
}
.header {
  background-color: red;
  width: 100%;
  height: max-content;
  margin-bottom: 40px;
  text-align: left;
}
.header-a {
  color: black;
  font-size: larger;
  text-decoration: none;
  padding: 1rem 4rem;
}
.header-a:hover {
  color: red;
  background-color: white;
  font-weight: 900;
  font-size: x-large;
}
img {
  width: 20%;
  margin-bottom: 30px;
  vertical-align: middle;
}
#f1-logo {
  box-sizing: content-box;
  width: 150px;
  height: 80px;
  margin: 0px;
  text-align: left;
}
#li-img {
  height: 80px;
  box-sizing: content-box;
}
.images {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.809);
}
