* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  /* height:2000px; */
}

/* HEADER */

a {
  text-decoration: none;
  color: white;
}
.company {
  color: #a95089;
}
header {
  background-color: #35424a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0.8rem;
  border-bottom: 1px solid #a95089;
  width: 100%;
  position: sticky;
  top: 0vh;
}
.header__title {
  font-size: 1.5rem;
  font-weight: 600;
}
.header__nav {
  font-size: 0.8rem;
}
.header__nav a {
  margin-left: 1.7rem;
  transition-duration: 0.5s;
}
.header__nav a:hover{
  color: #a95089;
  font-size: 1rem;
  font-weight: 600;
} 

/* SECTION SHOWCASE */

.showcase {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
  background-image: url(./img/showcase.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
}
.showcase__title {
  font-size: 2.3rem;
  font-weight: 600;
  margin-bottom: 3vh;
}

/* SECTION SUBSCRIBE */

.subscribe {
  background-color: #35424a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.5rem;
  height: 10vh;
  position: sticky;
  top: 76px;
}
.subscribe__description {
  color: white;
  font-weight: 600;
  padding-left: 0.5rem;
}
input#email {
  height: 3.6vh;
  border: none;
  padding: 0 0.5rem;
  width: 15vw;
}
#subscribe__submit--btn {
  height: 3.6vh;
  padding: 0rem 0.7rem;
  color: white;
  background-color: #e7491d;
  border: none;
  font-size: 0.8rem;
}

/* ARTICLE TOPICS */

article.topics {
  background-color: #fff;
  color: black;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-evenly;
}
.topics__img {
  width: 5vw;
  margin-bottom: 1rem;
}
.topics div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0.5rem 2rem;
}
.topics div p {
  text-align: center;
  margin-top: 1rem;
}

/* SECTION ABOUT US */

section.about{
  display: flex;
  align-items: flex-start;
  margin-top: 3rem;
  padding-top: 1.5rem;
  height: 68vh;
  background-color:rgb(123, 159, 225);
}
section.about *{
  margin: 1rem;
}
section.about p{
  font-size: 0.8rem;
}
.section__about--description h4{
  margin-top: 0;
}
.about--par2{
  background-color: #35424a;
  color: white;
  padding: 0.8rem;
}
aside.section__about--info{
  background-color:#35424a;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* SECTION SERVICES */

section.services{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  height: 79vh;
  margin-top: 2rem;
}
.service__types *{
  padding: 0.5rem;
}
.service__design,
.service__maintenance,
.service__hosting{
  background-color: #E6E6E6;
  margin-bottom: 0.5rem;
  padding: 1.4rem 0.5rem;
}
.service__quote{
  background-color:#35424a;
}
.quote__form *{
  color: white;
  border: none;
  display: block;
  font-size: 0.9rem;
}
.quote__form{
  padding: 1.5rem 3rem 1rem 1rem;
}
.quote__title{
  margin-top:0.5rem;
  margin-bottom: 1rem;
}
.quote__form input,
.quote__form textarea{
  color: black;
  width: 20vw;
  margin-bottom: 0.4rem;
  padding: 0.4rem;
}
form button{
  background-color:#e7491d;
  padding: 0.5rem 1rem;
}

/* FOOTER */

footer {
  background-color: #35424a;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  position: fixed;
  bottom: 0vh;
  padding: 1.5rem;
}
.footer__description {
  font-size: 0.8rem;
}
.footer__logo {
  width: 12vw;
  animation-name: logo;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}

@keyframes logo {

  25%{
    transform:translateX(-40vw) scale(1.5);
  }
  50%{
    transform: scale(1);
  }
  75%{
    transform: translateX(40vw) scale(1.5);
  }

}